{% extends 'base.html' %}
{% load staticfiles %}
{% block customstyle %}
    <script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js" charset="utf-8"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <style type="text/css">
        body{overflow-x:hidden; background:#f2f0f5;}
        #main-tab {
            border: 1px solid #eaeaea;
            background: #FFF;
            font-size: 12px;
            margin: auto;
        }
        tbody {
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
        }
        tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
        }
        #main-tab td {
            font-size: 14px;
            line-height: 30px;
        }
        .borderright{ border-right:1px solid #ebebeb}
        .borderbottom{ border-bottom:1px solid #ebebeb}
        table {
            border-collapse:collapse;
            border-spacing:0;
            font-size:14px;
        }
        caption,th {
            text-align:left;
        }
        td.fenye{ padding:10px 0 0 0; text-align:right;}
        td.desp{
              width: 600px;
              line-height: 25px;
              align-content: left;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row" style="margin-bottom:5px;">
        <div>
            <table width="80%" border="0" cellspacing="0" cellpadding="0" id="main-tab">
                <th>
                    <tr style="background-color: #39445c;color: white;">
                        <td align="center" valign="middle" class="borderright borderbottom">标题</td>
                        <td align="center" valign="middle" class="borderright borderbottom">内容</td>
                        <td align="center" valign="middle" class="borderright borderbottom">转发量</td>
                    </tr>
                </th>

                {% for item in paginator.object_list %}
                <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
                    <td align="center" valign="middle" class="borderright borderbottom">{{ item.title }}</td>
                    <td align="center" valign="middle" class="borderright borderbottom desp">{{ item.content }}</td>
                    <td align="center" valign="middle" class="borderright borderbottom">{{ item.send_count}}</td>

                </tr>
                {% endfor %}

            </table>
        </div>
        <div style="width: 80%;margin: auto">
             <ul class="pagination pagination-lg">
                {% if paginator.has_previous %}
                    <li>
                        <a href="{% url 'index' %}?page={{ paginator.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>
                {% endif %}

                {% for number in paginator.paginator.pager_num_range %}
                    {% if number == paginator.number %}
                        <li class="active"><a href="{% url 'index' %}?page={{ number }}">{{ number }}</a></li>
                    {% else %}
                        <li><a href="{% url 'index' %}?page={{ number }}" >{{ number }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if paginator.has_next %}
                    <li>
                        <a href="{% url 'index' %}?page={{ paginator.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}


